<mat-drawer-container class="example-container">
    <div>
        <p class="logo-container">ἔ</p>
        <div class="nav-buttons">
            <span>
                <a class="icon" routerLink="app-home" routerLinkActive="active">
                    <fa-icon [icon]="faHome"></fa-icon>
                    <p class="nav-text">Home</p>
                </a>
            </span>
            <span>
                <a class="icon" routerLink="app-about-me" routerLinkActive="active">
                    <fa-icon [icon]="faUserCircle"></fa-icon>
                    <p class="nav-text">About Me</p>
                </a>
            </span>
            <span>
                <a class="icon" routerLink="app-trading" routerLinkActive="active">
                    <fa-icon [icon]="faChartBar"></fa-icon>
                    <p class="nav-text">Trading</p>
                </a>
            </span>
            <span>
                <a class="icon" routerLink="app-gaming" routerLinkActive="active">
                    <fa-icon [icon]="faGamepad"></fa-icon>
                    <p class="nav-text">Gaming</p>
                </a>
            </span>
        </div>
    </div>
</mat-drawer-container>